.footer {
  padding-bottom: 10rem;
  .c-left {
    float: left;
    text-align: left;
  }
  .c-right {
    float: right;
    text-align: center;
  }
  .clear-both {
    clear: both;
  }
  .txt {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
  }
}