.footer {
  padding-bottom: 10rem;
  .c-left {
    float: left;
  }
  .c-right {
    float: right;  
  }
  .clear-both {
    clear: both;
  }
  .top {
    text-align: center;
  }
  .bottom {
    text-align: center;
  }
  .txt-black {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
  }
  .txt-red {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: red;
  }
}