.header {
  padding: 1.5rem 0;
  .d__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link__logo {
    display: inline-block;
  }
  .header__logo {
    display: flex;
    line-height: 0;

  }
  .logo-left {
    width: 25rem
  }
  .logo-right {
    width: 20rem;
  }
}
