.p_top {
  .title {
    text-align: center;
    margin-bottom: 4rem;
  &-page {
      font-size: 4rem;
      line-height: 1.2;
      color: #000000;
      margin-bottom: 0.5rem;
    }
    .desc {
      line-height: 1.4;
      letter-spacing: 0.1rem;
      color: #000000;
    }
  }
}