.p_top {
  .main{
    padding:  0 0 10rem 0
  }
  .title {
    text-align: center;
    margin-bottom: 3.5rem;
  &-page {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: 500;
      color: #000000;
      margin-bottom: 0.5rem;

    }
    .desc {
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: 0.1rem;
      color: #000000;

    }
  }
  .row {
    margin-bottom: 2rem;
    .ttl {
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: 600;
      color: #121212;
    }
  }
  .content-txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 2.5rem;
  }

  .table, .th, .td {
    border: 1px solid $black;   
  }
  .table {
    width: 100%;
  }
  .tr {
    width: 100%;
  }
  .th {    
    font-size: 1.4rem;
    line-height: calc(40/14);
    color: $black3;
    background-color:$white;
    text-align:center;    
  }   
  .ttl-th {
    font-size: 1.6rem;
    line-height: 1.4;
  }  
  .desc-th {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .th-left {
    width: 70rem;
    padding: 0.5rem 1rem;
  }
  .th-right {
    width: auto;
    padding: 0.5rem 1rem;
  }
  .td {
    font-size: 1.4rem; 
    color: $black;
    background-color: $white;
    padding: 0.5rem 1rem;
  }
  .cus__td--ttl {
    font-size: 1.6rem;  
    line-height: 1.2;
    color: $white;
    background-color: $green ;   
    text-align: left;
  }
}