.p_top {
  .main{
    padding:  0 0 10rem 0
  }
  .title {
    text-align: center;
    margin-bottom: 3.5rem;
  &-page {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: 500;
      color: $black;
      margin-bottom: 0.5rem;

    }
    .desc {
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: 0.1rem;
      color: $black;
    }
  }
  .row {
    margin-bottom: 2rem;   
    .ttl {
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: 700;
      color: $black3;
    }
    .desc-ttl {
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 700;
      color: $black3;
    }
  }

  .content-txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: $black;
    margin-bottom: 2.5rem;
  }
  .th {
    border: 1px solid $black;   
  }
  .tr {
    width: 100%;
  }
  .table {
    width: 100%;
  }
  .table1 {
    .td {
      width: calc(100% / 3);
      font-size: 1.6rem; 
      color: $black;
      background-color: $white;      
    }
  }
  .table2 {
    border: 1px solid $black;   
    .th {    
      font-size: 1.4rem;
      line-height: calc(40/14);
      color: $black3;
      background-color:$white;
      text-align:center;    
    }   
    .ttl-th {
      font-size: 1.6rem;
      line-height: 1.4;
    }  
    .desc-th {
      font-size: 1.4rem;
      line-height: 1.4;
    }
    .th-left {
      width: 70rem;
      padding: 0.5rem 1rem;
    }
    .th-right {
      width: auto;
      padding: 0.5rem 1rem;
    }
    .td {
      font-size: 1.4rem; 
      color: $black;
      background-color: $white;
      border: 1px solid $black;   
      padding: 0.5rem 1rem 0.5rem 2rem;
      text-indent: -1.5rem;
      &.text-center {
        text-align: center;
      }
    }
    .cus__td--ttl {
      font-size: 1.6rem;  
      line-height: 1.2;
      color: $white;
      background-color: $green ;   
      text-align: left;
    }
  }    
}